.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-backgroung);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed_header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 100;
  border: 1px solid var(--twitter-backgroung);
  padding: 15px 20px;
}
