.Tweetbox{
    padding-bottom: 10px;
}
.Tweetbox , form{
    display: flex;
   flex-direction: column;
    
}
.tweetBox_input{
    padding: 20px;
    display: flex;
}

.Tweetbox , input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border-color: var(--twitter-color);
}
.TextBox_button{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit!important;
    border-radius: 30px!important;
    width: 80px !important;
    height: 40px !important;
    margin-top: 10px !important;
    margin-left: auto !important;
}